// Specific CSS for your home-page
body {
  background-color: white;
}

h1 {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 35px;
  color: #404347;
  text-align: center;
}

h3 {
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 25px;
  color: white;
  text-align: center;
}

p {
  color: #404347;
}
