// Specific CSS for your home-page
body {
  background-color: #FEF9EF;
}

h1 {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 35px;
  color: #404347;
  text-align: center;
}

h3 {
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 25px;
  color: #FEF9EF;
  text-align: center;
}

p {
  color: #404347;
}
.banner-body {
  margin-right: -125px;
  text-align: center;
}

select {
  text-align: center;
  margin-bottom: 30px;
  padding: 2px 13px;
  border-color: #404347;
  background-color: #FEF9EF;
  color: #404347;
  margin-top: 25px;
  border-radius: 4px;
}

#stops {
  width: 15px;
  height: 15px;
}
