// Specific CSS for your home-page
body {
  background-color: #FEF9EF;
}

h1 {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 35px;
  color: #404347;
  text-align: center;
}

h3 {
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 25px;
  color: #FEF9EF;
  text-align: center;
}

p {
  color: #404347;
}
.banner-body {
  // margin-right: -125px;
  text-align: center;
  background: #fdf9ef69;
  padding: 40px;
  border-radius: 8px;
}

select {
  text-align: center;
  margin-bottom: 30px;
  padding: 2px 13px;
  border-color: #404347;
  background-color: #FEF9EF;
  color: #404347;
  margin-top: 25px;
  border-radius: 4px;
}

#stops {
  width: 15px;
  height: 15px;
}

.banner-body > h3 {
  // color: #404347;
  // font-size: 36px;
  // margin-top: -18px;
  // font-weight: 200;
  font-size: 29px;
  color: #5B5B5B;
  margin-top: -9px;
  font-weight: 300;
  letter-spacing: .5px;
}

.hand-written {
  font-family: 'Homemade Apple', cursive;
  padding: 16px;
}
