<footer>
    <div class="footer-background">
      <div class="my-container">
        <div class="footer">
            <div class="footer-links">
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>


            <%= link_to (image_tag "img-footer.png"), root_path, class: "footer-image" %>
        </div>
      </div>
    </div>
</footer>
