.btn-flat {
  padding: 15px 40px;
}

.btn-flat,
.btn-new-itinerary,
.btn-new-city,
.btn-new-review {
  color: white;;
  background: #FF5F7E;;
  text-align: center;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  margin-top: 20px;
  border: none;
}

.btn-flat:hover,
.btn-new-itinerary:hover,
.btn-new-city:hover,
.btn-new-review:hover {
  background: #FF6767;
  color: white;
}

.btn-new-itinerary,
.btn-new-city,
.btn-new-review {
  padding: 15px 52px;
}
