.btn-flat {
  padding: 9px 18px;
  margin-top: -1px !important;
}

.btn-flat,
.btn-new-itinerary,
.btn-new-city,
.btn-new-review,
.btn-login,
.btn-signup,
.btn-create-itinerary,
.btn-wheel,
.btn-wheel-next,
.btn-secondary {
  color: white;;
  background: #FF5F7E;;
  text-align: center;
  border-radius: 5px;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  margin-top: 20px;
  border: none;
}

.btn-flat:hover,
.btn-new-itinerary:hover,
.btn-new-city:hover,
.btn-new-review:hover,
.btn-login:hover,
.btn-signup:hover,
.btn-create-itinerary:hover,
.btn-wheel:hover,
.btn-wheel-next:hover,
.btn-new-stop:hover,
.btn-secondary:hover {
  background: #FF6767;
  color: white;
  text-decoration: none;
}

.btn-new-itinerary,
.btn-new-city,
.btn-new-review,
.btn-login,
.btn-signup,
.btn-new-stop {
  padding: 15px 52px;
}


.btn-new-stop {
  background-color: #D83A56;
  color: white;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  margin-top: 20px;
  border: none;
  padding: 15px 60px !important;
}

.btn-new-stop {
  font-weight: 300;
}

.btn-create-itinerary {
  padding: 10px;
  margin-top: -7px;
}

.btn-wheel {
  padding: 6px 14px !important;
}
.btn-wheel-next {
  padding: 6px 28px;
}


.btn-container {
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.btn-itinerary-preview {
  padding: 10px;
  background: #FF5F7E;
  border-radius: 5px;
  color: white;
  border: none;
  font-weight: 300;
}

.btn-secondary {
  margin: 0 auto;
  padding: 6px 20px !important;
}
