.card-product {
  overflow: hidden;
  height: 220px;
  width: 600px;
  background: #FEF9EF;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 20px;

  .day-header {
    text-align: center;
  }
}

.side-line {
  width: 2px;
  margin-right: 24px;
  border-left: 4px solid #FF5F7E;
  position:relative;
  background: #FF5F7E; }

 .side-avatar {
   position: absolute;
   top: 50%;
   left: -14px;
   background:#FF5F7E;
   color: white;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   text-align: center;
 }




.card-product img {
  height: 100%;
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
