.card-product {
  overflow: hidden;
  height: 220px;
  width: 600px;
  background: #FEF9EF;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  margin-bottom: 20px;
  margin-top: 20px;

  .day-header {
    text-align: left;
    color: #404347;
    margin-left: 20px;
    font-size: 18px;
  }
}

.side-line {
  width: 2px;
  margin-right: 24px;
  border-left: 4px solid #FF5F7E;
  position:relative;
  top: 20px;
  background: #FF5F7E; }

 .side-avatar {
   position: absolute;
   top: 15%;
   left: -14px;
   background:#FF5F7E;
   color: white;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   text-align: center;
 }

.card-product img {
  height: 100%;
  width: 50%;
  object-fit: cover;
  border-radius: 7px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  color: #404347;
  font-weight: 400;
}

.create-itinerary {
  border: 1.8px solid #FF865E;
  border-radius: 7px;
  padding: 20px 0px;
  width: 50%;
  margin: 0 auto;
}

.card-product-infos {
  width: 50%;
}


.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #404347;
}


.user-product {
  overflow: hidden;
  height: 155px;
  background: transparent;
  align-items: center;
  display: flex;
  width: 40%;
  border: 1px solid #FF865E;
  padding: 24px;
  border-radius: 7px;
}

.user-product img {
  width: 100px;
  object-fit: cover;
  border-radius: 50px;
}

.user-product h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #404347;
}

.user-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #404347;
}

.user-product .user-product-infos {
  padding: 16px;
  color: #404347;
}
