.itinerary-main-container {
  display: flex;
  padding-left: 50px;

  h2 {
    margin: 20px 0;
  }
}

.create-itinerary__content {
  flex-direction: column;
  h3 {
    color: #404347;
    font-weight: 300;
  }
}
