.cities-headers {
  margin-bottom: 40px;
  // margin-top: -20px;
  color: #404347;
  font-weight: 600;
  letter-spacing: .5px;
}

// .cities-headers-1 {
//   margin-bottom: 0;
//   // margin-top: -20px;
//   color: #404347;
//   font-weight: 600;
//   letter-spacing: .5px;
// }

.top-rated p {
  margin-top: 10px;
  font-size: 18px;
}
