.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  height: 76px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  margin-left: 12px;
  margin-top: -2px;
}

.navbar {
  padding: 0rem 1.2rem;
}

.nav-item {
  font-family: Helvetica;
}

.navbar > h1 {
  text-align: center;
}

.navbar >p {
  text-align: center;
}

.transparent {
 background: transparent;
}

.navbar-light .navbar-nav {
  color: #FEF5ED;
}

.nav-link {
  color: #404347;
}
