<div class="banner">
  <div class="container">
    <h1>Travelsy</h1>
    <p>Squeeze the most out of your destination</p>
    <%= link_to "Find your next trip", "#", class: "btn btn-flat" %>
  </div>
</div>


<div class="container">
  <h2>Not sure where to go?</h2>
  <h4>Take a look at our most popular destinations</h4>

  <div class="cards">
    <% @cities.each do |city| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://source.unsplash.com/1600x900/?<%= city.name %>')">
      <%= city.name %>
    </div>
    <% end %>
  </div>
</div>
