.home-card-category {
  background-size: cover;
  background-position: center;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
  text-shadow: 2px 3px 1px #212121;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

    strong {
      font-weight: 600;
      color: #FEF9EF;
      font-size: 35px;
    }
}

.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;

  a:hover {
  text-decoration: none;
  opacity: 0.7;
  transition: .3s;
  }
}

.home-cards-container {
  background-color: #FEF9EF;
  padding-top: 20px;
}

.home-itinerary-image {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin-left: 55px;
  margin-bottom: 40px;
}

.home-headers {
  // padding: 50px 0;
  margin-left: 40px;
  margin-top: -95;
  line-height: 50px;
  color: #404347;
    h4 {
      text-align: center;
      margin-bottom: 40px;
    }
}

#home-header {
  justify-content: center;
  text-align: center;
  padding: 50px 0;
}

.home-banner h1 {
  font-size: 60px;
  letter-spacing: 1.3px;
}

.filters {
  background-color: #FEF9EF;
    #input {
      background-color: #FEF9EF;
    }
}

.travel-images {
  width: 100%;
  margin-bottom: -20px;
  margin-top: 35px;
}

// .mycheck {
//   padding: 15px;
// }
