
.city-show-banner {
  width: 1280px;
  height: 560px;
  color: white;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;

}
.city-show-banner h1 {
  color: white;
}


.cs-description {
  margin-left: 200px;
  margin-top: 100px;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);

}

.cs-description h1 {
  color: white;
}


.itinerary-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;

  a:hover {
  text-decoration: none;
  }

}

.itinerary-card {
  flex-direction: column;
  height: 210px;
  width: 320px;
  position: relative;
  border-radius: 7px;
  font-size: 25px;
  color:white;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
  h1 {
    color:white;
    text-shadow: 1px 1px 3px rgba(0,0,0,1);
    }
}




.cities-container {
  margin-left: 25px;
  width: 960;
}



.icons {
  position: absolute;
  bottom: 5%;
  left: 5%
}



.filters {
  width:fit-content;
  background: #FFFCFC;
  border: 2px solid #9B9595;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  padding: 20px;
  margin-top: 70px;
  p {
    font-weight: bold;
  }
}



.top-rated {
  margin-bottom:50px;
}
.three-day {
  margin-top: 50px;
  margin-bottom: 50px;
}

.four-day {
  margin-top:50px;
  margin-bottom: 50px;
}


.find {
  margin-top: 20px;
  color: black;
  text-align: center;
  font-size: 40px;
}

.break {
  margin-top:10px;
}

.cities-main-container {
  display: flex;
  justify-content: left;
  align-items:flex-start;
  margin-top: 50px;
  padding-left: 5px;

}
