
.city-show-banner {
  height: 560px;
  color: #FEF9EF;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;

}
.city-show-banner h1 {
  color: #FEF9EF;
  size: 30px;
  font-size: 42px;
  margin-bottom: 4px;
}


.cs-description {
  margin-left: 200px;
  margin-top: 100px;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.cs-description h1 {
  color: #FEF9EF;
}


.itinerary-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;

  a:hover {
  text-decoration: none;
  }
}

.itinerary-card {
  flex-direction: column;
  height: 225px;
  width: 320px;
  position: relative;
  border-radius: 7px;
  font-size: 20px;
  color: #FEF9EF;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
  margin-bottom: 15px;
  h1 {
    color: #FEF9EF;
    text-shadow: 1px 1px 3px rgba(0,0,0,1);
    }
}

.cities-container {
  margin-left: 25px;
  width: 960;
}

.icons {
  position: absolute;
  bottom: 5%;
  left: 5%
}

.filters {
  width: 180px;
  background: #FEF9EF;
  border: 1px solid #9B9595;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding: 20px;
  margin-top: 60px;
  p {
    font-weight: bold;
    color: #404347;
  }
}



.top-rated {
  margin-bottom:50px;
}
.three-day {
  margin-top: 50px;
  margin-bottom: 50px;
}

.four-day {
  margin-top:50px;
  margin-bottom: 50px;
}


.find {
  margin-top: 20px;
  color: black;
  text-align: center;
  font-size: 40px;
}

.break {
  margin-top:10px;
}

.cities-main-container {
  display: flex;
  justify-content: left;
  align-items:flex-start;
  margin-top: 50px;
  padding-left: 45px;

}


.price {
  position: relative;
  color: white;
  left: 100px;

}
